* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.all-screen {
    width: 100%;
}

.center {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid green;
}

.start-screen {
    height: 908px;
}

.about {
    height: 588px;
}

.pets {
    height: 877px;
}

.help {
    height: 611px;
}

.donatation {
    height: 462px;
}

.main-footer {
    height: 350px;
}

.brown {
    background-image: linear-gradient(135deg, #534135, #222021);
}

.grey {
    background-color: #F6F6F6;
}

.main-header {
    width: 1200px;
    height: 60px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-transform: none;
}

.logo {
    color: #F1CDB3;
    font-size: 32px;
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.subtitle {
    color: #FFFFFF;
    font-size: 13px;
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.navigation-elem {
    width: 443px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    /* font-size: 32px;
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;*/

}

.navigation-item a {
    list-style-type: none;
    color: #CDCDCD;
    font-size: 15px;
    font-family: Arial;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    /*font-style: normal;
    letter-spacing: 0.1em;
    text-transform: none; */
}

.navigation-item a:hover {
    border-bottom: 3px solid #F1CDB3;
}