@font-face {
    font-family: "Arial";
    src: url("./assets/fonts/arial/arial-regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Georgia";
    src: url("./assets/fonts/georgia/georgia-regular.ttf");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.coll {
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.between {
    display: flex;
    justify-content: space-between;
}

.all-screen {
    width: 100%;
}

.center {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid green;
}

.start-screen-container {
    height: 908px;
}

.about {
    height: 588px;
}

.pets {
    height: 877px;
}

.help {
    height: 611px;
}

.donatation {
    height: 462px;
}

.main-footer {
    height: 350px;
}

.main-header {
    width: 1200px;
    height: 60px;
    margin: 30px auto 0px 30px;
    text-decoration: none;
    text-transform: none;
    align-items: center;
}

.logo {
    color: #F1CDB3;
    font-size: 32px;
    font-family: Georgia;
    font-weight: 400;
    font-style: normal;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.subtitle {
    margin-top: 10px;
    color: #FFFFFF;
    font-size: 13px;
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.navigation-elem {
    width: 443px;
    height: 27px;
    list-style-type: none;
}

.navigation-item a {
    text-decoration: none;
}

.navigation-item a:hover {
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA;
}

.start-screen {
    width: 1200px;
    margin-top: 90px;
}

.start-screen-content {
    width: 502px;
    height: 728px;
}

.start-screen-content .h-2 {
    margin-top: 163px;
    width: 310px;
}

.start-screen-content .p-l {
    margin-top: 42px;
    width: 460px;
}

.start-screen-content .button_primary {
    margin: 42px 0px 42px;
    width: 207px;
    height: 52px;
}

.start-screen-img {
    /* margin-top: 67px; */
    margin-left: 40px;
    width: 698px;
    height: 728px;
}

.button_primary {
    border-radius: 100px;
    border: 0px;

    padding: 15px 8%;
    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #292929;
}

/*-------------- about -------------------------------------------------*/
.about {
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 300px;
    height: 408px;
}

.about-content {
    margin-left: 120px;
    width: 430px;
    height: 380px;
}

.about-content .h-3 {
    width: 370px;
}

.about-content .p-l {
    margin-top: 25px;
}

/* --------------------------pets ---------------------------------------*/
.pets-header {
    width: 400px;
    height: 90px;
    margin: 80px auto 60px;

}

.pets-header .h-3 {
    text-align: center;
    padding: 2px auto;
}

.pets-slider {
    width: 1200px;
    height: 435px;
    justify-content: space-between;

}

.round-buttom-img {
    width: 14px;
    height: 6px;
    margin: auto auto;
}

.rotate {
    transform: rotate(180deg);
}

.slider-img {
    width: 270px;
    height: 270px;
    border-radius: 9px 9px 0px 0px;
    margin-bottom: 30px;
}

.pets .button_primary {
    margin: 60px auto 0px;
    width: 261px;
    height: 52px;

    text-align: center;
    padding: 15px 3%;
}

/* ---------------- buttons -----------*/
.slider-button {
    margin: 30px auto;
    width: 187px;
    height: 52px;
    padding: 15px 45px 15px 45px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;

    font-family: Georgia;
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: left;
    padding: 15px 15%;
}

.round-button {
    width: 52px;
    height: 52px;
    margin-top: 192px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
}

/* ---------------- headers ----------- */
.h-2 {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
    color: #FFFFFF;
}

.h-3 {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

/* -------------- paragraphs ---------- */
.p-l {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.slider-p {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
}

/* -------------- colors -------------- */
.bg-primary {
    background: #F1CDB3;
}

.bg-brown {
    background-image: linear-gradient(135deg, #534135, #222021);
}

.bg-light-s {
    background: #FAFAFA;
}

.bg-grey {
    background-color: #F6F6F6;
}

.color-dark-s {
    color: #CDCDCD;
}

.color-dark-l {
    color: #545454;
}

.color-dark-xl {
    color: #4C4C4C;
}

.color-dark-3xl {
    color: #292929;
}