@font-face {
    font-family: "Arial";
    src: url("./assets/fonts/arial/arial-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* @font-face {
    font-family: "Arial";
    src: url("./assets/fonts/arial/arial-italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
} */

@font-face {
    font-family: "Georgia";
    src: url("./assets/fonts/georgia/georgia-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.coll {
    display: flex;
    flex-direction: column;
}

.row {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
}

.between {
    display: flex;
    justify-content: space-between;
}

/******************** header ********************/
.pets-header {
    width: 1200px;
    height: 60px;
    margin: 30px auto;
    align-items: center;
}

.logo {
    width: 186px;
    height: 60px;
}

.logo-link {
    text-decoration: none;
    cursor: pointer;
}

.subtitle {
    margin-top: 10px;
}

.navigation-elem {
    width: 443px;
    height: 27px;
    list-style-type: none;
}

.navigation-item-pets {
    border-bottom: 3px solid #F1CDB3;
}

.navigation-item a {
    text-decoration: none;
}

.navigation-item a:hover {
    transition: 0.2s;
    border-bottom: 3px solid #F1CDB3;
    color: #292929;
}

/*****************main/friends****************/
.friends {
    width: 1280px;
    height: 1342px;
    margin: 0 auto;
    /* top: 120px; &&&&&?????????????????????*/
    /* padding: 0px 40px 100px 40px; */
}

.friends-header {
    width: 400px;
    height: 90px;
    margin: 80px auto 45px;
}

.friends-cards {
    width: 1200px;
    height: 930px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.friend-card {
    margin: 14px auto 14px;
    border-radius: 9px;
    width: 270px;
    height: 435px;

    /* padding: 0px 0px 30px 0px;
gap: 30px; */
}

.friend-card:hover .friend-button {
    background: #FDDCC4;
    transition: 0.4s;
}

.slider-img {
    width: 270px;
    height: 270px;
    border-radius: 9px;
}

.friend-p {
    margin: 30px auto;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 95px;
}

/* -------------------------- footer ---------------------------------------*/
.pets-footer {
    width: 1200px;
    height: 310px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 0px auto;
}

/*******first box*****/
.main-footer-contacts .h-3 {
    width: 279px;
    height: 90px;
    text-align: left;
}

.main-footer-contacts {
    width: 278px;
    height: 234px;
}

.contact-item {
    margin-top: 40px;
}

.mail-to,
.call-to {
    text-decoration: none;
    cursor: pointer;
}

.mail-to img {
    margin: 3px 20px 3px 0px;
}

.call-to .h-4,
.mail-to .h-4 {
    margin-top: 5px;
    text-align: left;
    width: 191px;
}

.call-to .phone {
    margin: 0px 20px 0px 0px;
}

/*****second box******/
.main-footer-location {
    width: 302px;
    height: 234px;
}

.main-footer-location .h-3 {
    width: 270px;
    height: 90px;
    text-align: left;
}

.location-maps {
    text-decoration: none;
    cursor: pointer;
}

.location-item-boston {
    width: 302px;
    height: 46px;
    text-decoration: none;
    cursor: pointer;
    margin: 33px 0px 33px 0px;
}

.location-item-boston img {
    margin-top: 6px;
}

.location-item-boston .h-4 {
    text-align: left;
}

.location-item-london {
    width: 302px;
    height: 32px;
    text-decoration: none;
    cursor: pointer;
}

.location-item-boston img,
.location-item-london img {
    width: 22px;
    height: 32px;
    margin-right: 20px;
}

.location-item-london .h-4 {
    margin-top: 5px;
}

.main-footer-img {
    width: 300px;
    height: 310px;
}

/*---------------- button -----------------*/
.friend-button {
    width: 187px;
    height: 52px;
    margin: 0px auto;
    border-radius: 100px;
    border: 2px solid #F1CDB3;

    font-family: "Georgia";
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #292929;
}

.round-button {
    width: 52px;
    height: 52px;
    margin: 10px 10px;
    border-radius: 100px;

    border: 2px solid #F1CDB3;
    background: #F1CDB3;
    color: #292929;
}

/* .round-button:hover {
        background: #FDDCC4;
        transition: 0.4s;
    } */

.off {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    background: #f5f5f5;
}

.on {
    border: 2px solid #F1CDB3;
    color: #292929;
    background: #f5f5f5;
}

/*---------------- paragraphs--------------*/
.logo-title {
    font-family: "Georgia";
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    text-align: left;
}

.subtitle {
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 14.95px;
    text-align: left;
}

.p-l {
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.h-3 {
    font-family: "Georgia";
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;
}

.h-4 {
    font-family: "Georgia";
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
}

.friend-p {
    font-family: "Georgia";
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
}

/*---------------- colors -----------------*/
.bg-light-xl {
    background: #FFFFFF;
}

.bg-light-l {
    background: #F6F6F6;
}

.bg-light-s {
    background: #FAFAFA;
}

.bg-brown {
    background-image: linear-gradient(135deg, #534135, #222021);
}

.color-dark-l {
    color: #545454;
}

.color-dark-3xl {
    color: #292929;
}

.color-white {
    color: #FFFFFF;
}

.color-primary {
    color: #F1CDB3;
}