@font-face {
    font-family: "Arial";
    src: url("../assets/fonts/arial/arial-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Arial";
    src: url("../assets/fonts/arial/arial-italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Georgia";
    src: url("../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.coll {
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.between {
    display: flex;
    justify-content: space-between;
}

.all-screen {
    width: 100%;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    /* border: 1px solid green; */
}

.main-header {
    /* width: 1200px; */
    /* height: 60px; */
    margin: 30px 40px;
    text-decoration: none;
    text-transform: none;
    align-items: center;
}

.logo-link {
    text-decoration: none;
}

.logo {
    margin: 0;
    color: #F1CDB3;
    font-size: 32px;
    font-family: "Georgia";
    font-weight: 400;
    font-style: normal;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.subtitle {
    margin-top: 10px;
    margin-left: 3px;
    color: #FFFFFF;
    font-size: 13px;
    font-family: "Arial";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1em;
}

.burger {
    display: none;
}

.navigation {
    /* width: 37%; */
    width: 443px;
}

.navigation-elem {
    list-style-type: none;
}

.navigation-item-about {
    border-bottom: 2px solid #F1CDB3;
}

.navigation-item a {
    text-decoration: none;
}

.navigation-item a:hover {
    transition: 0.2s;
    /* border-bottom: 3px solid #F1CDB3; */
    color: #FAFAFA;
}

/*------------------------------------ Not only ---------------------------------------*/
.start-screen {
    margin: 57px 40px 0px 40px;
}

.start-screen-content {
    width: 42%;
}

.start-screen-content .h-2 {
    margin-top: 163px;
}

.start-screen-content .p-l {
    margin-top: 42px;
    padding-bottom: 42px;
}

.pets-anchor .button_primary {
    width: 207px;
    height: 52px;
    text-decoration: none;
    text-align: center;
}

.start-screen-img {
    display: block;
    margin-bottom: 5px;
    margin-left: 40px;
    width: 58%;
    /* height: 728px; */
}

/*-------------- about -------------------------------------------------*/
.about {
    justify-content: center;
}

.about-img {
    width: 23.5%;
    display: block;
    /* width: 300px; */
    /* height: 408px; */
    margin: 80px 60px 95px 0px;
}

.about-content {
    margin: 94px 0px 114px 60px;
    width: 33.6%;
    /* height: 380px; */
    /* margin-bottom: 20px; */
}

.about-content .p-l {
    margin-top: 24px;
}

/* --------------------------our friend ---------------------------------------*/
.pets {
    width: 100%;
}

.pets-header {
    text-align: center;
    margin: 81px auto 60px;
}

.pets-header .h-3 {
    text-align: center;
}

.pets-slider {
    width: 100%;
    justify-content: center;
}

.slider-round-button {
    width: 52px;
    height: 52px;
    margin-left: 5px;
    margin-right: 5px;
}

.round-buttom-img {
    width: 14px;
    height: 6px;
    margin: auto auto;
}

.rotate {
    transform: rotate(180deg);
}

.slider-card {
    margin: 0px 45px;
    cursor: pointer;
    border-radius: 9px;
    width: 21%;
}

.slider-card:hover .slider-button {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: 0.4s;
}

.slider-card:hover {
    box-shadow: 0px 2px 35px 14px #0D0D0D0A;
    background: #FFFFFF;
    transition: 0.4s;
}

.slider-img {
    width: 100%;
    /* height: 270px; */
    border-radius: 9px;
    margin-bottom: 30px;
}

.pets-button-link {
    margin: 57px auto 0px;
}

.pets-button-link .button_primary {
    width: 261px;
    height: 52px;

    text-align: center;
    padding: 15px 3%;
    margin-bottom: 100px;
}

/* -------------------------- help ---------------------------------------*/
.help {
    padding: 80px 125px 100px 125px;
}

.help .h-3 {
    margin-bottom: 56px;
    text-align: center;
    padding: 2px auto;
}

.help-content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 119px;
}

.help-card {
    /* height: 113px; */
    justify-content: space-between;
    padding: 0 0;
}

.card-img {
    margin: 0 auto 34px;
}

.help-card .h-4 {
    height: 23px;
}

/* -------------------------- in addition ----------------------------------*/
/* .donatation {
} */

.donatation-card {
    padding-top: 80px;
    padding-bottom: 100px;
    justify-content: center;
}

.donatation-img {
    display: block;
    width: 39.4%;
    margin: 10px 15px 10px 15px;
}

/* .donatation-content .h-3 {
    /* width: 300px;
    height: 90px; */
/* } */
.donatation-content {
    width: 30.1%;
    margin: 0 10px;
}

.donatation-content .h-5 {
    margin: 20px 0px 18px 0px;
    text-align: left;
}

.credit-card {
    /* width: 320px; */
    padding: 10px 15px 10px 15px;
    border-radius: 9px;
    margin-right: 33px;
    margin-bottom: 20px;
    /* margin-left: 1px; */
}

.credit-card-img {
    width: 30px;
    height: 23px;
    margin-right: 15px;
}

.credit-card-link {
    text-decoration: none;
}

.credit-card-num {
    margin-right: 0;
}

/* -------------------------- footer ---------------------------------------*/
.main-footer {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/*******first box*****/
.main-footer-contacts {
    margin-left: 40px;
    /* width: 21.75%; */
    min-width: 278px;
}

.contact-item {
    margin-top: 40px;
}

.mail-to,
.call-to {
    text-decoration: none;
    cursor: pointer;
}

.mail-to img {
    margin-right: 20px;
}

.mail-to .h-4 {
    margin-top: 5px;
    text-align: left;
}

.call-to .phone {
    margin-right: 20px;
}

.call-to .h-4 {
    text-align: left;
}

/*****second box******/
.main-footer-location {
    width: 23.75%;
    min-width: 278px;
}

.location-item-boston,
.location-item-london {
    text-decoration: none;
    cursor: pointer;
    margin: 34px 0px 0px 0px;
}

.location-item-boston img {
    margin-top: 6px;
}

.location-item-boston .h-4 {
    text-align: left;
}

.location-item-london {
    margin-top: 32px;
}

.location-item-boston img,
.location-item-london img {
    width: 22px;
    height: 32px;
    margin-right: 20px;
}

.location-item-london .h-4 {
    margin-top: 5px;
}

.main-footer-img {
    margin: 40px 40px 0px 0px;
    min-width: 260px;
}

/* ---------------- buttons -----------*/
.button_primary {
    border-radius: 100px;
    border: 0px;

    font-family: "Georgia";
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #292929;
}

.button_primary:hover {
    cursor: pointer;
    background: #FDDCC4;
    transition: 0.4s;
}

.slider-button {
    margin: 30px auto;
    width: 70%;
    /* height: 52px; */
    padding: 15px 45px 15px 45px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;

    font-family: "Georgia";
    font-size: 17px;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: left;
    padding: 15px 15%;

    cursor: pointer;
}

.round-button {
    width: 52px;
    height: 52px;
    margin-top: 192px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background: #f5f5f5;
    cursor: pointer;
}

.round-button:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    transition: 0.4s;
}

/* ---------------- headers ----------- */
.h-2 {
    font-family: "Georgia";
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
    color: #FFFFFF;
}

.h-3 {
    font-family: "Georgia";
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
}

.h-4 {
    font-family: "Georgia";
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
}

.h-5 {
    font-family: "Georgia";
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
}

/* -------------- paragraphs ---------- */
.p-l {
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.p-s {
    font-family: "Arial";
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.slider-p {
    font-family: "Georgia";
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
}

/* -------------- colors -------------- */
.bg-primary {
    /* background: #F1CDB3; */
    background: #f2ceb3;
}

.color-primary {
    /* color: #F1CDB3; */
    color: #f2ceb3;
}

.bg-brown {
    /* background-image: linear-gradient(135deg, #534135, #222021); */
    background: url("../assets/noise_transparent@2x.png"), linear-gradient(135deg, #534135, #222021);
}

.bg-light-s {
    background: #FAFAFA;
}

.color-light-s {
    color: #FAFAFA;
}

.bg-grey {
    background-color: #F6F6F6;
}

.color-dark-s {
    color: #CDCDCD;
}

.color-dark-l {
    color: #545454;
}

.color-dark-m {
    color: #B2B2B2;
}

.color-dark-xl {
    color: #4C4C4C;
}

.color-dark-3xl {
    color: #292929;
}

.color-white {
    color: #FFFFFF;
}

/************************* MEDIA ******************************/
/************************* 768 ********************************/
@media (max-width : 768px) {

    /******** not only ********/
    .main-header {
        margin: 30px 4%;
    }

    .start-screen {
        margin: 0px 5.2%;
        flex-direction: column;
    }

    .start-screen-content {
        width: 67%;
        min-width: 300px;
        margin: 30px auto;
    }

    .start-screen-content .h-2 {
        margin-top: 0;
    }

    .pets-anchor .button_primary {
        margin-left: calc(50% - 103px);
    }

    .start-screen-img {
        margin: 69px 0px 0px auto;
        width: 82.75%;
    }

    /******** about ********/
    .about {
        flex-direction: column;
        padding-bottom: 100px;
    }

    .about-img {
        width: 39%;
        margin: 80px auto 100px auto;
    }

    .about-content {
        order: 1;
        margin: 80px auto;
        width: 56%;
    }

    .about-img {
        order: 2;
        margin: 0 auto;
    }

    /******** our friends ********/
    .pets-slider .last {
        display: none;
    }

    .pets-slider .left {
        margin-left: 30px;
        margin-right: 0;
        /* padding-left: 33%; */
    }

    .pets-slider .right {
        margin-right: 30px;
        margin-left: 0;
        /* padding-left: 33%; */
    }

    .round-buttom-img {
        margin: auto 33%;
    }

    .slider-card {
        width: 36.5%;
        margin: 0 16px;
    }

    .pets-button-link {
        margin: 56px auto 0px;
    }

    /******** help ********/
    .help {
        /* width: 100%; */
        padding: 80px 9% 100px 9%;
    }


    .help-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }

    /******** donatation ********/
    .donatation-card {
        flex-direction: column;
        padding: 80px 132px 100px 132px;
    }

    .donatation-content {
        order: 1;
        margin: 0 auto 60px auto;
        width: 75.35%;
    }

    .credit-card {
        padding: 10px 13px 10px 15px;
        margin-right: 30px;
    }

    .donatation-img {
        order: 2;
        width: 100%;
        margin: 0px 0px;
    }

    /******** footer ********/
    .main-footer {
        flex-wrap: wrap;
        padding: 30px 34px 0px 34px;
    }

    .main-footer-contacts {
        margin: 0 30px;
        width: 39.8%;
    }

    .main-footer-location {
        margin: 0 30px;
        width: 43%;
    }

    .call-to .h-4 {
        margin-top: 4px;
    }

    .main-footer-img {
        margin: 65px auto 0px auto;
    }
}

/******************************** 767 *****************************/
@media (max-width : 767px) {
    .navigation {
        display: none;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 22px;
    }

    .burger:before,
    .burger:after,
    .burger span {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: #F1CDB3;
    }

    .burger span {
        top: 9px;
    }

    .burger:before {
        top: 0;
    }

    .burger:after {
        bottom: 0;
    }

    .main-footer-img {
        width: 260px;
        height: 269px;
    }
}

/****************************** 530 ******************************/
@media (max-width : 530px) {
    .help-content {
        grid-template-columns: 1fr 1fr;
        gap: 25px 32px;
    }

    .h-4 {
        font-size: 15px;
        line-height: 16.5px;
        letter-spacing: 0.06em;
    }

    .card-img {
        max-width: 50px;
        max-height: 50px;
        margin-bottom: 20px;
    }
}

/****************************** 320 ******************************/
@media (max-width : 320px) {

    .main-header {
        margin: 30px 6%;
    }

    /******** not only ********/
    .start-screen {
        margin: 0px 0px;
    }

    .h-2 {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
        letter-spacing: 0.06em;
    }

    .p-l {
        font-size: 15px;
        text-align: center;
    }

    /********** about *********/
    .h-3 {
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
    }

    /******** not only ********/
    .pre-last {
        display: none;
    }

    /********** help **********/
    .help {
        /* width: 100%; */
        padding: 80px 15px 100px 15px;
    }

    /******** donatation ********/
    /********* footer *********/
}