:root {
    --blue: rgb(47, 47, 78);
    --purple: rgb(125, 112, 134);
    --black: rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: var(--purple);
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8)), url("./assets/music/Carla\'s\ Dreams\ -\ Antiexemplu.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-repeat: round;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.wrapper {
    min-width: 200px;
    min-height: 325px;
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    background: rgba(72, 87, 90, 0.2);
    box-shadow: 0px 7px 10px 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.image {
    width: 200px;
    height: 200px;
    background-image: url("./assets/music/Carla\'s\ Dreams\ -\ Antiexemplu.jpg");
    background-size: cover;
    border-radius: 5%;
    transition: 0.5s;
}

.nameTrack {
    margin: 20px 20px;
}

.nameTrack span {
    color: var(--black);
}

button {
    border-radius: 50%;
    border: 2px solid var(--blue);
    width: 40px;
    height: 40px;
    background-size: cover;
    cursor: pointer;
    opacity: 0.5;
}

button:hover {
    border-color: var(--black);
    transition: 0.3s;
}

.back {
    margin-left: 25px;
    background-image: url(./assets/buttons/back.png)
}

.stop {
    background-image: url(./assets/buttons/stop.png)
}

.play {
    background-image: url(./assets/buttons/play.png)
}

.pause {
    background-image: url(./assets/buttons/pause.png)
}

.next {
    background-image: url(./assets/buttons/next.png)
}


.speakers {
    background-image: url(./assets/buttons/speakers.png)
}

.mute {
    background-image: url(./assets/buttons/mute.png)
}

.volume {
    width: 50px;
    height: 5px;
    transform-origin: 11px 3px;
    transform: rotate(-90deg);
    cursor: pointer;
    outline: none;
    appearance: none;
    background: grey;
    border-radius: 5px;
}

.volume::-webkit-slider-thumb {
    appearance: none;
    background: rgba(3, 3, 3, 0.808);
    width: 11px;
    height: 11px;
    border-radius: 100%;
}

.volume::-webkit-slider-thumb:hover {
    width: 13px;
    height: 13px;
}

footer {
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, var(--black) 0%, rgb(100, 33, 33) 35%, rgb(88, 108, 112) 100%);
    filter: drop-shadow(0 0 0.75rem rgb(100, 33, 33));
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    opacity: 0.8;
}

.rsslogo {
    width: 100px;
}