:root {
    --blue: rgb(17, 17, 117);
    --purple: #c06bb9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: var(--blue);
}

.wrapper {
    margin-top: 40vh;
    margin-left: 30vw;
    width: 30%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nameTrack {
    margin-bottom: 20px;
}

button {
    border-radius: 50%;
    border: 2px solid var(--blue);
    width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
}

button:hover {
    border-color: var(--purple);
    transition: 0.3s;
}

.play {
    padding-left: 5px;
    background-image: url(./assets/buttons/play.png)
}

.pause {
    background-image: url(./assets/buttons/pause.png)
}

.next {
    background-image: url(./assets/buttons/next.png)
}

.back {
    background-image: url(./assets/buttons/back.png)
}

.speakers {
    background-image: url(./assets/buttons/speakers.png)
}

.mute {
    background-image: url(./assets/buttons/mute.png)
}

footer {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(135deg, #5eeafc 10%, #f0399e 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.rsslogo {
    width: 100px;
}